#img1 {
    transform: rotate(20deg);
    margin: 5%;
  }
  #img2 {
    transform: rotate(-70deg);
  }
  body {
    background-color: green;
    
  }
  h1 {
    transform: rotate(5deg);
    margin: 20px;
  }
  #container {
    margin: 8%;
    display: flex;
    cursor: pointer;
  }
  .box1 {
  width: 200px;
  height: 20px;
  padding: 8px;
  border: 1px solid black;
  border-radius: 20px;
  flex: 1;
  text-align: center;
}
.box1 {
    width: 200px;
    height: 20px;
    padding: 8px;
    border: 1px solid black;
    border-radius: 20px;
    flex: 1;
    text-align: center;
  }
  .box2 {
    width: 200px;
    height: 20px;
    padding: 8px;
    border: 1px solid black;
    border-radius: 20px;
    flex: 1;
    text-align: center;
  }
  .box3 {
    width: 200px;
    height: 20px;
    padding: 8px;
    border: 1px solid black;
    border-radius: 20px;
    flex: 1;
    text-align: center;
  }
  .box4 {
    width: 200px;
    height: 20px;
    padding: 8px;
    border: 1px solid black;
    border-radius: 20px;
    flex: 1;
    text-align: center;
  }
  .box5 {
    width: 200px;
    height: 20px;
    padding: 8px;
    border: 1px solid black;
    border-radius: 20px;
    flex: 1;
    text-align: center;
  }
  .box6 {
    width: 200px;
    height: 20px;
    padding: 8px;
    border: 1px solid black;
    border-radius: 20px;
    flex: 1;
    text-align: center;
  }
  .box1:hover {
    transform: skewX(20deg);
  }
  .box2:hover {
    transform: skewY(20deg);
  }
  .box3:hover {
    transform: scaleY(3);
  }
  .box4:hover {
    transform: scaleX(2);
  }
  .box5:hover {
    transform: rotateX(120deg);
  }
  .box6:hover {
    transform: rotateY(60deg);
  }